#sidebar
  @media mq-normal
    column(sidebar-column)

.widget-wrap
  margin: block-margin 0

.widget-title
  @extend $block-caption

.widget
  color: color-sidebar-text
  text-shadow: 0 1px #fff
  background: color-widget-background
  box-shadow: 0 -1px 4px color-widget-border inset
  border: 1px solid color-widget-border
  padding: 15px
  border-radius: 3px
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    ul, ol, dl
      margin-left: 15px
      list-style: disc

.travis-badge
  display: inline
  margin-bottom: 7px

.travis-entry
  font-weight: normal
  text-transform: none
  margin-bottom: 2px
  padding: 5px 5px 5px 15px

.travis-entry.passed
  background: linear-gradient(to right,#39aa56 0,#39aa56 5px,#fff 5px,#fff 100%) no-repeat

.travis-entry.canceled
  background: linear-gradient(to right,#9d9d9d 0,#9d9d9d 5px,#fff 5px,#fff 100%) no-repeat

.travis-entry.failed
  background: linear-gradient(to right,#db4545 0,#db4545 5px,#fff 5px,#fff 100%) no-repeat

.travis-entry a
  color: #666
  font-size: 0.7rem

.travis-build
  color: #888

.travis-title
  margin-left: 3px

.travis-updated
  display: block
  text-align: right
  letter-spacing: 0
  color: #aaa
  font-size: 0.5rem
  margin-left: 3px
